* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    sans-serif;
  line-height: 1.6;
  color: #ffffff; /* Cambié a blanco porque el fondo es negro */
  background: #000000; /* Fondo negro */
  overflow-x: hidden;
}

.container {
  max-width: 1400px;
  margin: 0 auto; /* Centrado automático en lugar de márgenes fijos */
  padding: 0 40px;
  width: 100%;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Responsive */
@media (max-width: 1200px) {
  .container {
    padding: 0 30px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 15px;
  }
}

/* Section Dividers */
.section-divider {
  border: none;
  height: 1px;
  background-color: #9e9e9e;
  width: 80%;
  max-width: 1020px;
  margin: 0 auto;
  opacity: 0.3;
  margin-top: 20px;
}

/* Responsive para los dividers */
@media (max-width: 768px) {
  .section-divider {
    width: 70%;
    max-width: 300px;
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .section-divider {
    width: 60%;
    max-width: 250px;
  }
}
